<!DOCTYPE html>
<html>
    <body>
        Hello! Inspect the HTML here to figure out how to GET files.
        <form>
            <div>
              <label>Select file to upload</label>
              <input type="file">
            </div>
            <button onclick="analyze()">Analyze</button>
          </form>
        <script>
            const info = async () => {
                // To get the ChIP-seq index file:
                const index = await fetch("/database/chipseq_index");
                console.log(await index.text());

                // To get a ChIPSeq sample:
                const sample_num = "hg19_1051";
                const sample = await fetch(`/database/chipseq_sample?sample=${sample_num}`);
                console.log(await sample.text());
                
                // To get the null model:
                // const null_model = await fetch(`/database/null_model`);
                // console.log(await null_model.text());
                
                var input = document.querySelector('input[type="file"]')

                var data = new FormData()
                data.append('file', input.files[0])
                data.append('user', 'hubot')

                async function analyze(){
                    let data = await fetch('/upload', {
                    method: 'POST',
                    body: data
                    })
                    console.log(data);
                }
 

            }
            info();
        </script>
    </body>
</html>